html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  letter-spacing: -1.5px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 288px;
  font-family: Cinzel, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  display: flex;
}

@media (width >= 744px) {
  .title {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (width >= 1260px) {
  .title {
    font-size: 80px;
    line-height: 80px;
  }
}

.second-heading {
  letter-spacing: -1.5px;
  text-align: center;
  color: #161616;
  margin-bottom: 30px;
  font-family: Cinzel, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 744px) {
  .second-heading {
    text-align: left;
    font-size: 48px;
    line-height: 48px;
  }
}

.second-heading__highlight {
  letter-spacing: 0;
  text-align: left;
  color: #d12d35;
  font-family: Cinzel, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}

.header {
  box-sizing: border-box;
  background-image: url("bg-image-big.a2a3b77b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 25px 20px;
  display: flex;
}

@media (width >= 1260px) {
  .header {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    padding-top: 50px;
    display: grid;
  }
}

@media (width >= 1260px) and (width >= 744px) {
  .header {
    flex-direction: column;
    display: flex;
  }
}

.header__logo {
  max-width: 64px;
  max-height: 46px;
}

@media (width >= 744px) {
  .header__logo {
    min-width: 87px;
    min-height: 65px;
  }
}

.header__navigation {
  justify-content: space-between;
  display: flex;
}

@media (width >= 744px) {
  .header__navigation {
    justify-content: flex-start;
    padding-inline: 52px;
  }
}

@media (width >= 1260px) {
  .header__navigation {
    justify-content: flex-start;
    padding-inline: 100px;
  }
}

.navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (width >= 744px) {
  .navigation {
    padding-top: 25px;
  }
}

.navigation__bar {
  align-items: center;
  gap: 23px;
  display: flex;
}

@media (width >= 744px) {
  .navigation__bar {
    gap: 59px;
  }
}

@media (width >= 1260px) {
  .navigation__bar {
    gap: 55px;
  }
}

.navigation__call {
  background-image: url("phone.e7ccbe0a.svg");
  background-size: cover;
  width: 18px;
  height: 18px;
  display: inline-block;
}

@media (width >= 744px) {
  .navigation__call {
    width: 24px;
    height: 24px;
  }
}

.navigation__burger:before {
  content: "";
  background-image: url("menu.05d2be7c.svg");
  background-size: cover;
  width: 18px;
  height: 12px;
  display: inline-block;
}

@media (width >= 744px) {
  .navigation__burger:before {
    width: 24px;
    height: 24px;
  }
}

.navigation__burger:after {
  content: "";
  background-image: url("menu-active.5d90e584.svg");
  background-size: cover;
  width: 18px;
  height: 12px;
  display: none;
}

@media (width >= 744px) {
  .navigation__burger:after {
    width: 24px;
    height: 24px;
  }
}

.navigation__burger:hover:before {
  display: none;
}

.navigation__burger:hover:after {
  display: inline-block;
}

@media (width >= 744px) {
  .navigation__burger {
    width: 24px;
    height: 16px;
  }
}

.navigation__close {
  content: "";
  background-image: url("close.3f7b8626.svg");
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

@media (width >= 1260px) {
  .navigation__close {
    width: 21px;
    height: 21px;
  }
}

.navigation__label {
  clip: rect(0 0 0 0);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.menu {
  background-color: #d12d35;
  padding: 25px 20px;
  transition: transform .3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  transform: translateX(-100%);
}

@media (width >= 744px) {
  .menu {
    padding: 32px 72px;
  }
}

@media (width >= 1260px) {
  .menu {
    padding: 50px 120px;
  }
}

.menu__logo {
  max-width: 64px;
  max-height: 46px;
}

@media (width >= 744px) {
  .menu__logo {
    min-width: 87px;
    min-height: 65px;
  }
}

.menu:target {
  transform: translateX(0);
}

.menu__links {
  padding-top: 40px;
  padding-bottom: 32px;
}

@media (width >= 1260px) {
  .menu__links {
    padding-bottom: 48px;
  }
}

.menu__name {
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.menu__paragraph {
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin-bottom: 8px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.menu__call-link {
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #0000;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Cinzel, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: all .3s;
}

.menu__call-link:hover {
  border-bottom: 1px solid #fff;
}

.links__item {
  color: beige;
}

.links__link {
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #0000;
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: Cinzel, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
}

.links__link:hover {
  border-bottom: 1px solid #fff;
}

.main {
  padding: 100px 20px 180px;
}

@media (width >= 744px) {
  .main {
    padding: 140px 72px 156px;
  }

  .main__content {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 24px;
    margin-inline: 72px;
    display: grid;
  }
}

@media (width >= 1260px) {
  .main__content__content {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(12, 63px);
    justify-content: center;
    gap: 24px;
    display: grid;
  }
}

.schedule {
  box-sizing: border-box;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  display: flex;
}

.schedule__name {
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 16px;
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.schedule__textcols {
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 16px;
  display: flex;
}

@media (width >= 1240px) {
  .schedule__textcols {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

.schedule__textcols-time {
  letter-spacing: 0;
  text-align: left;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.schedule__textcols-days, .schedule__second-part {
  letter-spacing: 0;
  text-align: left;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.schedule__second-part--title-forth {
  letter-spacing: 0;
  text-align: left;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.second-heading {
  letter-spacing: -1.5px;
  text-align: left;
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.second-heading__hightlight {
  letter-spacing: 0;
  text-align: left;
  color: #d12d35;
  font-family: Cinzel, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}

.view {
  letter-spacing: -1.5px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 48px;
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
}

@media (width >= 744px) {
  .view {
    flex-direction: column;
    font-size: 48px;
    line-height: 48px;
    display: flex;
  }
}

.view__text-regular {
  letter-spacing: 0;
  text-align: center;
  padding-top: 8px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.new-look {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 24px;
  display: grid;
}

@media (width >= 744px) {
  .new-look {
    grid-template-columns: 2fr 1fr;
    gap: 24px;
  }
}

.new-look__item {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}

.new-look__item:hover {
  transform: scale(1.1);
}

.new-look__item-position {
  object-fit: cover;
  object-position: -40px 0;
}

@media (width >= 744px) {
  .new-look__item-position {
    object-position: center;
  }
}

.text {
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 48px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.text__hightlight {
  letter-spacing: 0;
  text-align: left;
  color: #d12d35;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.boodha {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding-bottom: 24px;
  display: grid;
}

@media (width >= 744px) {
  .boodha {
    gap: 24px;
  }
}

.boodha__item {
  object-fit: cover;
  width: 100%;
  transition-duration: .3s;
}

.boodha__item:hover {
  transform: scale(1.1);
}

.inspiring {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 24px;
  display: grid;
}

@media (width >= 744px) {
  .inspiring {
    grid-template-columns: 1fr 2fr;
    gap: 24px;
  }
}

.inspiring__item {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}

.inspiring__item:hover {
  transform: scale(1.1);
}

.inspiring__item-position {
  object-fit: cover;
  object-position: -140px 0;
}

@media (width >= 744px) {
  .inspiring__item-position {
    object-position: center;
  }
}

.button {
  text-align: center;
  background: #d12d35;
  border: 0;
  justify-content: center;
  width: 280px;
  height: 56px;
  margin: 0 auto;
  transition: all .3s;
  display: block;
}

.button:hover {
  background: #ae1c23;
}

.button:active {
  background: #eb343d;
}

@media (width >= 744px) {
  .button {
    width: 324px;
    height: 56px;
  }
}

.button__first {
  color: #fff;
  letter-spacing: 0;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.button__second {
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  background: #d12d35;
  border: 0;
  height: 56px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  transition: all .3s;
  top: 4930px;
  left: 15px;
}

.button__second:hover {
  background: #ae1c23;
}

.button__second:active {
  background: #eb343d;
}

@media (width >= 744px) and (width <= 1259px) {
  .explore {
    grid-template-rows: 1fr;
    padding-inline: 104px;
    display: grid;
  }
}

@media (width >= 1260px) {
  .explore {
    grid-template-columns: 1fr 1fr 1fr;
    align-self: stretch;
    gap: 24px;
    display: grid;
  }
}

.explore__heading {
  letter-spacing: -1.5px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

@media (width >= 744px) {
  .explore__heading {
    font-size: 48px;
    line-height: 48px;
  }
}

.explore__item {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}

.explore__item:hover {
  transform: scale(1.1);
}

.explore__content {
  letter-spacing: 0;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 8px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

@media (width >= 744px) {
  .explore__content {
    padding-top: 32px;
  }
}

.explore__content-hightlight {
  letter-spacing: 0;
  text-align: center;
  color: #d12d35;
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.contact {
  padding-top: 100px;
}

@media (width >= 744px) {
  .contact__desktop {
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    display: grid;
  }
}

@media (width >= 1260px) {
  .contact__desktop {
    gap: 111px;
  }

  .contact__desktop-address {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    display: grid;
  }
}

.contact__heading {
  letter-spacing: -1.5px;
  text-align: center;
  padding-bottom: 48px;
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.contact__name {
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 16px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

@media (width >= 1260px) {
  .contact__name {
    padding-top: 0;
  }
}

.address {
  flex-direction: column;
  gap: 4px;
  padding-bottom: 48px;
  display: flex;
}

.address__label {
  letter-spacing: 0;
  text-align: left;
  color: #161616;
  font-family: Cinzel, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.address__phone {
  letter-spacing: 0;
  text-align: left;
  color: #3e3e3e;
  padding-bottom: 8px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.address__addr {
  letter-spacing: 0;
  text-align: left;
  color: #3e3e3e;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.form {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.form:hover {
  color: #161616;
}

.form__input {
  box-sizing: border-box;
  letter-spacing: 0;
  text-align: left;
  color: #7e7e83;
  background: #f8f8fa;
  border: 0;
  width: 100%;
  height: 48px;
  padding: 0 0 0 11px;
  font-family: Cinzel, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
}

.form__input:hover::placeholder {
  color: #161616;
}

.form__textarea {
  box-sizing: border-box;
  letter-spacing: 0;
  text-align: left;
  color: #7e7e83;
  background-color: #f8f8fa;
  border: 0;
  width: 100%;
  height: 144px;
  padding: 14px 0 0 11px;
  font-family: Cinzel, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form__textarea:hover::placeholder {
  color: #161616;
}

.form__label:not(:focus), .form__label :not(:active) {
  clip: rect(0 0 0 0);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.footer {
  object-fit: cover;
  background-image: url("footer.2d53c59a.png");
  background-position: center;
  background-size: cover;
  height: 180px;
}

@media (width >= 744px) {
  .footer {
    background-image: url("footer-big.5f341e08.png");
    height: 359px;
  }
}

.phone {
  color: #fff;
  visibility: hidden;
  text-align: right;
  font-family: Cinzel, sans-serif;
}

.phone:has( ~ .navigation__call:hover) {
  visibility: visible;
}

.phone__label {
  letter-spacing: 0;
  color: #fff;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.phone__link {
  color: #fff;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.phone:not(:hover) .phone__label {
  clip: rect(0 0 0 0);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #161616;
  background-color: #fff;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
